[CloudFlare]
email = tulkat@gmail.com
token = 7504da8c9998a3bcc1b934a4b68ca285b99fb


[NAMES]
record_1=A;base.grcanosa.com
record_2=CNAME;home.grcanosa.com;base.grcanosa.com
record_3=CNAME;libros.grcanosa.com;base.grcanosa.com
record_4=CNAME;nas.grcamosa.com;base.grcanosa.com
record_5=CNAME;grcanosa.com;www.grcanosa.com
record_6=CNAME;www.grcanosa.com;grcanosa.github.io
